class Configuration(object):
    DATABASE = {
        'name': 'jinshuju_pro',
        'engine': 'peewee.MySQLDatabase',
        'host': 'rm-bp1a6ixj4o2986hp5.mysql.rds.aliyuncs.com',
        'port': 3306,
        'user': 'jinshuju',
        'passwd': 'Focus001',
        'threadlocals': True,
    }
    DEBUG = True
    SECRET_KEY = 'xxxxxx'
